AdminDash.css



.bg-image {
    background-image: url("your-background-image-url.jpg");
    background-size: cover;
    background-position: center;
}

.header {
    
    
    background-color: rgba(0, 0, 0, 0.75); /* 75% opacity black */
    position: fixed; /* Fixed positioning */
    top: 0; /* Placed at the top */
    width: 100%; /* Full width */
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    align-items: center; /* Center vertically */
}

.nav-link {
    color: #ffffff;
    margin-left: 20px; /* Adjust spacing between links */
    text-decoration: none;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: underline;
}
